#sidebar {
  display: block;
  position: fixed;
  height: calc(100% - #{$header-height});
  width: 200px;
  top: $header-height;
  left: 0;

  background-color: $white;

  z-index: 90;

  .sidebar-section-title {
    margin: 40px 0 7px 35px;

    @include sidebar-section;
  }

  .sidebar-link {
    display: block;
    margin: 10px 0 0 50px;
    @include sidebar-link-grey;

    text-decoration: none;

    &:hover {
      color: $grey-medium;
    }

    &.active {
      color: $highlight-light;
    }
  }
}
