.selectable-card-list {
  display: block;
  margin-top: 20px;

  .selectable-card-list-label {
    width: 100%;
    margin: 0 0 0 5px;

    @include field-label
  }

  .selectable-card-list-items {
    display: flex;
    margin: -4px 0 0 -10px;
    flex-direction: row;
    flex-wrap: wrap;

    .selectable-card-radio-ensemble
    {
      margin: 10px 0 0 10px;

      .selectable-card-input
      {
        display: none;
      }
    }

    .vhr {
      margin: 22px 5px 0 14px;
    }
  }
}
