.vhr {
    display: inline-flex;
    position: relative;

    margin: 0 20px 0 0;

    .vhr-bar {
        position: absolute;
        top: -2px;
        width: 1px;
        height: 28px;

        background-color: $grey-light;
    }
}
