* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: $header-height 0 0 0;
  padding: 0;

  font-family: 'Gotham', sans-serif;
  background-color: #F5F5F5;
}

.page-overlay {
  display: block;
  position: fixed;
  z-index: 100;
  top: $header-height;
  left: 0;
  height: calc(100vh - #{$header-height});
  width: 100vw;

  background-color: rgba($highlight-dark, .8);

  &.hidden {
    display: none;
  }
}

a {
  cursor: default;
  text-decoration: none;
}

h1 {
  @include big-title;
  margin: 0 0 10px;
}

.content-column {
  display: block;
  min-width: 830px;
  margin: 100px auto 50px;

  &.fixed-width {
    width: 830px;
  }

  &.no-sidebar {
    width: 830px;
    margin: 100px auto;
  }

  #sidebar + & {
    margin: 100px 50px 50px calc(#{$sidebar-width} + 95px);
  }
}

.nav-back-upper-title {
  color: $grey-dark;
  font-size: 12px;
  font-weight: 500;

  .nav-back-arrow {
    display: inline-block;
    padding-right: 3px;

    transform: scale(0.8, 1.3);
  }
}

.text-zone {
  @include text;
}
