/////////
// Colors
$white: #ffffff;
$grey-ultralight: #eeeeee;
$grey-light: #b1b1b1;
$grey-medium: #696969;
$grey-dark: #4b4b4b;
$black: #333333;

$highlight-light: #4dabe8;
$highlight-dark: #0f2a5f;

$error-red: #c3423f;


////////////////
// Screen sizes

$retina-pixel-ratio: 2;
$retina-dpi: 192dpi;

$super-retina-pixel-ratio: 3;
$super-retina-dpi: 300dpi;


////////////
// STRUCTURE

$header-height: 60px;
$sidebar-width: 200px;
